<nz-layout class="h-full">
  <nz-header class="flex justify-between items-center">
    <img ngSrc="./assets/logoipsum.svg" alt="logo" width="123" height="61" priority />
    <div class="space-x-3">
      <button nz-button nzType="primary"> Log In </button>
      <button nz-button nzType="primary"> Sign Up </button>
      <nz-avatar nzIcon="user" nz-dropdown [nzDropdownMenu]="avatarMenu" nzPlacement="bottomRight" [nzClickHide]="false"></nz-avatar>
      <nz-dropdown-menu #avatarMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-submenu nzTitle="Language">
            <ul>
              <li nz-menu-item>French</li>
              <li nz-menu-item>English</li>
            </ul>
          </li>
          <li nz-menu-item>
            Dark Theme
            <nz-switch
              [ngModel]="isDarkTheme()"
              (ngModelChange)="toggleTheme()"
              [nzCheckedChildren]="checkedDarkThemeTemplate"
              [nzUnCheckedChildren]="unCheckedDarkThemeTemplate"
            ></nz-switch>
            <ng-template #checkedDarkThemeTemplate><span nz-icon nzType="moon"></span></ng-template>
            <ng-template #unCheckedDarkThemeTemplate><span nz-icon nzType="sun"></span></ng-template>
          </li>
          @if (isLoggedIn()) {
            <li nz-menu-item (click)="logout()">Log Out</li>
          } @else {
            <li nz-menu-item routerLink="/login" ariaCurrentWhenActive="page">Log In</li>
          }
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" [nzTheme]="isDarkTheme() ? 'dark' : 'light'">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item>
          <span nz-icon nzType="user"></span>
          <span>Option 1</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="user"></span>
          <span>Option 2</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="user"></span>
          <span>Option 3</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <h1 class="text-3xl font-bold underline">
          Hello world!
        </h1>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
